<div class="col-xs-12 print-body">
  <div class="col-xs-12 print-header">
    <div class="col-xs-3">
      <%= image_tag(slip.image, :size => "90x90", :id => "slip_image_tag") %>
    </div>
    <div class="col-xs-6 print-receipt">
      <p class="print-receipt">R E C I B O</p>
    </div>
    <div class="col-xs-3">      
      <p><input type="text" class="print-value" id="slip_value<%=slip.id%>" value="R$ <%= slip.value %>" disabled="true"></p> 
    </div>
  </div>

  <div class="col-xs-12">
    <div class="form-group">
      <label class="control-label col-xs-2 print-from">Recebemos de &nbsp</label>
      <div class="col-xs-10 uppercase">
        <strong> <%= slip.from %> </strong>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="form-group">
      <label class="control-label col-xs-2">A importancia de </label>
      <div class="col-xs-10">
        <input id="valExtenso<%=slip.id%>" class="form-control print-full-value uppercase" type="text" disabled="true" >
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="form-group">
      <label class="control-label">Proveniente de</label>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="form-group">
      <div class="print-description">
        <%= slip.description %>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="form-group">
      <span class="col-xs-6"></span>
      <div class="col-xs-6 print-city uppercase">
        <%= slip.city %>, <%=l slip.date, :format => :long %>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="form-group">
      <span class="col-xs-6"></span>
      <div class="col-xs-6 print-signature uppercase">
        <%= slip.signature %>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="form-group">
      <span class="col-xs-6"></span>
      <div class="col-xs-3">
        <label>CPF</label> <%= slip.cpf %>
      </div>
      <div class="col-xs-3">
        <label>RG</label> <%= slip.rg %>
      </div>
    </div>
  </div>
</div>

<script>
  $('document').ready(function(){

    function getQueryVariable(variable){
      var query = window.location.search.substring(1);
      var vars = query.split("&");
      for (var i=0;i<vars.length;i++) {
        var pair = vars[i].split("=");
        if(pair[0] == variable){return pair[1];}
       }
       return(false);
    }

    var slips = getQueryVariable("print_slips").split(","); 
    slips.forEach(function printExtenso(id){
      var value = $("#slip_value" + id).val();
      $("#valExtenso" + id).val(value.extenso('cur'));
    
    });

    // var value = $("#slip_value6").val();
    // $("#valExtenso6").val(value.extenso('cur'));
    
    // console.log(slips);
    
    // var value = $("#slip_value").val();
    // $("#valExtenso").val(value.extenso('cur'));
    // alert(value.extenso('cur'));
  });
</script>